<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf8">
        <meta name="description"
              content="Phase Shift Software is the development home of Quentin Headen, where you can find his projects and blog posts.">
        <meta name="keywords" content="open source, software development, github, bitbucket">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Phase Shift Software</title>

        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/all.css" />
    </head>

    <body>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-12 header">
                    <a href="/">
                        <img class="img-responsive center-block" src="http://phaseshiftsoftware.com/downloads/images/PSS_Logo.png">
                    </a>
                </div>
            </div>

