{{> header }}
<div class="row text-center home-button-row page-content">
    <div class="col-md-4">
        <a href="/about">
            <img src="/images/help-128.png">
            <br>
            <span>About</span>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/development">
            <img src="/images/crane-128.png">
            <br>
            <span>Development</span>
        </a>
    </div>
    <div class="col-md-4">
        <a href="http://blog.phaseshiftsoftware.com">
            <img src="/images/stationery-pen-128.png">
            <br>
            <span>Blog</span>
        </a>
    </div>
</div>
{{> footer }}
