<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf8">
        <title>Phase Shift Software</title>

        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/all.css" />
    </head>

    <body>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-12 header">
                    <img src="http://phaseshiftsoftware.com/images/PSS_Logo.png">
                </div>
            </div>

            <div class="row text-center home-button-row">
                <div class="col-md-4">
                    <a href="#">
                        <img src="/images/help-128.png">
                        <br>
                        <span>About</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <img src="/images/crane-128.png">
                        <br>
                        <span>Development</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <img src="/images/stationery-pen-128.png">
                        <br>
                        <span>Blog</span>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
