body {
  background-color: #1c1c1c;
}
.header {
  background-color: #000055;
  padding-top: 20px;
  padding-bottom: 20px;
}
.page-content {
  font-size: 1.5em;
  padding-top: 200px;
  color: #ffffff;
}
.page-content strong {
  color: #7480ff;
}
.home-button-row {
  height: 250px;
  font-size: 2.5em;
  color: #ffffff;
}
.home-button-row a {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}
