@buttonColor: #d5c200;
@backgroundColor: #1c1c1c;
@headerColor: #000055;
@black: #000000;
@white: #ffffff;
@strongColor: #7480ff;
@contentLinkColor: #f6f448;

body
{
    background-color: @backgroundColor;
}

.header
{
    background-color: @headerColor;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-content
{
    font-size: 1.5em;
    padding-top: 200px;
    color: @white;
}

.page-content strong
{
    color: @strongColor;
}

.page-content a
{
    color: @contentLinkColor;
    text-decoration: none;
    outline: none;
}

.home-button-row
{
    height: 250px;
    font-size: 2.5em;
    color: @white;
}

.home-button-row a
{
    color: @white;
}

a
{
    text-decoration: none;
    outline: none;
}
